result.xml
__pycache__
.pytest_cache

# Environnement virtuel
.venv/
env/
*.egg-info/
dist/
build/

# Fichiers Python compilés
__pycache__/
*.py[cod]

# Logs
*.log

# Fichiers de configuration spécifiques à l'environnement
.env
*.env

# Dossiers de tests
.coverage
.coverage.*
htmlcov/
nosetests.xml
*.cover
*.log

# Outils IDE
.vscode/
.idea/
*.swp  # Fichiers de sauvegarde Vim
*.sublime-project
*.sublime-workspace

# Jenkins
.jenkins/
*.jenkins

# Système
.DS_Store        # macOS
Thumbs.db        # Windows

# Fichiers de cache Python
*.pyo
*.pyd

# Caches
*.cache

# Fichiers temporaires
tmp/
temp/